<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>학원찾기</title>
    <link rel="stylesheet" href="/stylesheets/findacademy.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <% include ./header.ejs %>
</head>

<body>
    <% include ./sideBar.ejs %>
    <div class="main">
        <div class="content z-depth-2">
            <div class="search">
                <input id="search-bar" placeholder="학원 이름을 입력하세요" onkeyup="enterkey()">
                <div class="a-search" style="line-height: 90px;"><i class="material-icons samll">search</i></div>
            </div>
            <div class="result">
                <table>
                    <thead>
                        <td>이름</td>
                        <td>주소</td>
                        <td>대표자</td>
                        <td>전화번호</td>
                        <td>신청</td>
                    </thead>
                    <tbody id="result"></tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        let isteacher
        function enterkey() {
            if (window.event.keyCode == 13) {
                findaca()
            }
        }
        document.querySelector('.a-search').addEventListener("click", findaca)

        let result_table = document.getElementById("result");

        let academy_result;

        function findaca() {
            while(result_table.hasChildNodes()) { result_table.removeChild(result_table.firstChild); }
            let xhr = new XMLHttpRequest();
            xhr.open('POST', "/academy/findacademy");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let a_data = JSON.parse(xhr.responseText);
                    academy_result = a_data.data;
                    for(let data in a_data.data) {
                        let tr_d = document.createElement("tr");

                        let name_t = document.createElement("td");
                        let loc_t = document.createElement("td");
                        let expo_t = document.createElement("td");
                        let num_t = document.createElement("td");
                        let sub_t = document.createElement("td");
                        let sub_b = document.createElement("div");
                        sub_t.appendChild(sub_b);

                        name_t.innerHTML = a_data.data[data].name;
                        loc_t.innerHTML = a_data.data[data].location;
                        expo_t.innerHTML = a_data.data[data].exponent;
                        num_t.innerHTML = a_data.data[data].number;
                        sub_b.innerHTML = "참가 신청";
                        sub_b.dataset.idx = data;
                        sub_b.classList.add("btn");

                        sub_b.addEventListener("click", choose_this_aca);

                        let dt = [name_t, loc_t, expo_t, num_t, sub_t];
                        for(let i of dt) { tr_d.appendChild(i); }
                        result_table.appendChild(tr_d);
                    }
                } else if (xhr.readyState === 4 && xhr.status === 500) {
                    let a_data = JSON.parse(xhr.responseText);
                    alert(a_data.msg);
                } else if (xhr.readyState === 4 && xhr.status === 400) {
                    let a_data = JSON.parse(xhr.responseText);
                    alert(a_data.msg);
                }
            }
            xhr.send(JSON.stringify({
                academyname: document.getElementById('search-bar').value
            }));
        }
        function choose_this_aca(btn) {
            let xhr = new XMLHttpRequest()
            xhr.open("POST", '/academy/choose_academy');
            xhr.setRequestHeader("Content-Type", 'application/json')
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    if(data.result == 'success'){
                        alert("학원 신청이 완료되었습니다.\n선생님께서 승인하실때 학원활동이 가능합니다.");
                        location.replace("/myAcademy");
                    }
                } else if(xhr.readyState === 4) {
                    let data = JSON.parse(xhr.responseText);
                    alert(data.msg);
                    location.replace(location.href);
                }
            }
            xhr.send(JSON.stringify({
                choosen_academy: academy_result[Number(btn.target.dataset.idx)],
            }))
        }
    </script>
</body>

</html>