<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <% include ./header.ejs %>
        <title>High Study</title>
</head>

<body style="text-align: center;">
    <% include ./sideBar.ejs %>


        <div class="main">
            <div class="online">
                <img src="/images/main/online.png">
            </div>

            <div class="trial">
                <img src="/images/main/trial.png">
            </div>

            <div class="find">
                <img src="/images/main/academy.png" onClick="location.href='/findacademy'">
            </div>

            <div class="event">
                <img src="/images/main/event.png">
            </div>

            <div class="notice">
                <img src="/images/main/notice.png">
                <a href="" style="float: right;">더보기 >></a>


                <table>
                    <tr>
                        <th clss="number">번호</th>
                        <th class="title">제목</th>
                        <th>작성자</th>
                        <th>날짜</th>
                        <th>조회수</th>
                    </tr>

                    <tr>
                        <td>1</td>
                        <td>Test</td>
                        <td>Admin</td>
                        <td>오늘</td>
                        <td>122</td>
                    </tr>
                </table>

                <!-- 오명훈씌!! 관리자 계정에는 authority true로 설정해줘!! -->
                <% if(authority==true) { %>  
                    <button type="button" class="to_write_button" onClick="location.href='/notice'">글쓰기</button>
                <% } %>
        </div>
        <script>
            document.querySelector('.online').addEventListener('click',()=>{
                window.location.href = '/online';
            })
        </script>
</body>

</html>