<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <% include ./header.ejs %>
    <title>High Study</title>
</head>

<body style="text-align: center;">
    <% include ./sideBar.ejs %>


        <div class="main">
            <div class="banner">
                [?]
            </div>
            <div class="online">
                <img src="/images/main/online.png">
            </div>

            <div class="trial">
                <img src="/images/main/trial.png">
            </div>

            <div class="find">
                <img src="/images/main/academy.png">
            </div>

            <div class="event">
                <img src="/images/main/event.png">
            </div>

            <div class="notice">
                <img src="/images/main/notice.png" onclick="location.href='/notice.ejs'">
            </div>
        </div>

    <% if(lc) { %>
        <% if(lc.job == 'teacher') { %>
            <script>
                console.log("<%=lc.job%>");
            </script>
        <% } %>
    <% } %>
    <script>
    </script>
</body>
</html>