<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./stylesheets/sideBar.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<style>
    .btn {
        background-color: #11101d;
    }

    .btn:hover {
        background-color: #11101d;
    }
</style>

<body>
    <% include ./sideBar.ejs %>
        <div class="square">
            <p
                style="font-weight: 700; font-style: italic; font-size: 35px; padding-top: 50px; font-family: 'STIX Two Text', serif; ">
                High-Study</p>
            <p style="font-weight: 400; color: gray; margin-bottom: 30px;">로그인</p>
            <form action="/account/login" method="POST">
                <input type="text" min-length="1" required
                    style="width: 300px; height: 30px;  margin-bottom: 30px; font-size: 15px; font-family: 'Gothic A1', sans-serif;"
                    placeholder="아이디" name="uid" class="uid">
                <input type="password" min-length="8" max-length="16" required
                    style="width: 300px; height: 35px; margin-bottom: 100px; font-size: 15px; font-family: 'Gothic A1', sans-serif;"
                    placeholder="비밀번호" name="password" class="password"><br>
                <input type="submit" class="login" value="로그인" style="margin-bottom: 5px; cursor: pointer;"><br>
            </form>

            
            <input type="button" class="signup" value="회원가입" onClick="location.href='/register'">
            <br>
            <a class="find modal-trigger" href="#modal1" style="margin-right: 20px;">아이디 찾기</a>
            |
            <a class="find modal-trigger" href="#modal2" style="margin-left: 20px;">비밀번호 찾기</a>
        </div>
        <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div>
                    <i class='bx bxs-file-find large'></i>
                    <h5>아이디찾기</h5>
                </div>
                <form action="/account/find_id" method="POST" class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate" required>
                            <label for="name">name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect waves-green btn fint-id" type="submit" name="action">전송</button>
            </div>
            </form>
        </div>
        <div id="modal2" class="modal modal-fixed-footer">
            <div class="modal-content">
                <div>
                    <i class='bx bxs-file-find large'></i>
                    <h5>비밀번호찾기</h5>
                </div>
                <form action="/account/find_password" method="POST" class="row">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate" required>
                            <label for="name">name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="id" type="email" class="validate" required>
                            <label for="id">id</label>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect waves-green btn fint-password" type="submit" name="action">전송</button>
            </div>
            </form>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems);
            });
            let signup = document.querySelector('.signup');
            signup.addEventListener("click", () => {
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/account/login');
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        if (JSON.parse(xhr.responseText).result == 'success') {

                        } 
                    }else if(xhr.readyState === 4 && xhr.status === 400){
                        alert("아이디(또는 이메일) 또는 비밀번호가 일치하지 않습니다.");
                    }else if(xhr.readyState === 4 && xhr.status === 500){
                        alert("서버에서 알 수 없는 에러가 발생했습니다.")
                    }
                }
                xhr.send(JSON.stringify({
                    uid: document.querySelector('.uid').value,
                    password: document.querySelector('.password').value
                }))
            })
            document.querySelector('.find-id').addEventListener('click',()=>{
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/account/find_id');
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        if (JSON.parse(xhr.responseText).result == 'success') {
                            alert(`당신의 아이디는 ${id}입니다`)
                        } 
                    }else if(xhr.readyState === 4 && xhr.status === 400){

                    }else if(xhr.readyState === 4 && xhr.status === 500){
                        alert("서버에서 알 수 없는 에러가 발생했습니다.")
                    }
                }
                xhr.send(JSON.stringify({
                    name: document.getElementById('name').value,
                    email: document.getElementById('email').value
                }))
            })
            document.querySelector('.find-password').addEventListener('click',()=>{
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/account/find_password');
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        if (JSON.parse(xhr.responseText).result == 'success') {
                            alert(`당신의 비밀번호는 ${password}입니다`)
                        } 
                    }else if(xhr.readyState === 4 && xhr.status === 400){

                    }else if(xhr.readyState === 4 && xhr.status === 500){
                        alert("서버에서 알 수 없는 에러가 발생했습니다.")
                    }
                }
                xhr.send(JSON.stringify({
                    name: document.getElementById('name').value,
                    id: document.getElementById('id').value
                }))
            })
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>