<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 학원</title>
    <link rel="stylesheet" href="/stylesheets/myacademys.css">
    <% include ./header.ejs %>
</head>
<body>
    <% include ./sideBar.ejs %>
    <div class="main">
        <div class="container">
            <table>
                <tbody id="result">
                    
                </tbody>
            </table>
        </div>
    </div>
    <script>

    </script>
</body>
</html>