<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방 만들기</title>
    <link rel="stylesheet" href="./stylesheets/createroom.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <% include ./header.ejs %>
</head>

<body>
    <div style="width:4%">
        <% include ./sideBar.ejs %>
    </div>
    <div class="main-content">
        <div style="width: 80%;margin:auto;text-align: center; height:60%;">
            <form action="/problem/createroom" style="width:100%;display:flex;flex-direction: column;">
                <input type="text" placeholder="방 이름을 설정하세요" class='room-name'>
                <div style="display:flex; width:60%;margin:auto;margin-top: 30px;">
                    <div class='disabled'>이름 : <%= lc.name %></div>
                    <div style="width:20%"></div>
                    <div class='disabled'>직업 : <%= lc.job %></div>
                </div>
                <input type="text"placeholder="추천 학년을 선택해주세요" class="room-grade">
                <br>
                <button type="submit" class="btn">방 생성하기</button>
            </form>
        </div>
        <div style="bottom:0; position: absolute; margin:20px;cursor: pointer; font-size: 25px;color:gray;margin-bottom: 10px;" onclick="window.location.href='/online'"><i class='bx bx-exit'></i></div>
    </div>
</body>

</html>