<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>회원가입</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://code.jquery.com/jquery-3.5.0.js"
        integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <% include ./header.ejs %>
    <style>
        .btn {
            background-color: #11101d;
        }

        .btn:hover {
            background-color: #11101d;
        }
    </style>
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <div class="logo">
                <div class="logo_name">하이스터디</div>
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <ul class="nav_list">
            <li>
                <a href="#">
                    <i class="material-icons mode_edit">mode_edit</i>
                    <span class="links_name mode_edit_span">정보 입력</span>
                </a>
                <span class="tooltip">정보입력</span>
            </li>
            <li>
                <a href="#">
                    <i class="material-icons email_verify">email</i>
                    <span class="links_name email_verify_span">이메일 인증</span>
                </a>
                <span class="tooltip">이메일 인증</span>
            </li>
            <li>
                <a href="#">
                    <i class='bx bx-face face'></i>
                    <span class="links_name face_span">프로필 선택</span>
                </a>
                <span class="tooltip">프로필 선택</span>
            </li>
            <li>
                <a href="/">
                    <i class='bx bx-arrow-back'></i>
                    <span class="links_name person_span">뒤로가기</span>
                </a>
                <span class="tooltip">뒤로가기</span>
            </li>
        </ul>
    </div>
    <div class="main">
        <div class="logo_content">
            <div class="logo">
                <img src="/images/logo.png" widtt="50px" height="50px" alt="하이스터디 로고">
            </div>
        </div>
        <div class="main-content z-depth-3">
            <div class="row get-info">
                <div style="width:80%;margin:auto">
                    <form action="/account/email_send" method="POST" onsubmit="send_info(event)">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" type="text" class="validate" autocomplete="off" required>
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="age" type="text"  class="validate" autocomplete="off" required>
                                <label for="age">age</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select id='job' onchange="showacademy()" required>
                                    <option value="" disabled selected>Choose your Job</option>
                                    <option value="teacher">Teacher</option>
                                    <option value="student">Student</option>
                                </select>
                                <label>Job</label>
                            </div>
                        </div>
                        <div class="row none grade">
                            <div class="input-field col s12">
                                <select id='grade'>
                                    <option value="" disabled selected>Choose your grade</option>
                                    <option value="middle-1">중학교 1학년</option>
                                    <option value="middle-2">중학교 2학년</option>
                                    <option value="middle-3">중학교 3학년</option>
                                    <option value="high-1">고등학교 1학년</option>
                                    <option value="high-2">고등학교 2학년</option>
                                    <option value="high-3">고등학교 3학년</option>
                                </select>
                                <label>Grade</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10">
                                <input id="id" type="text" class="validate" required>
                                <label for="id">ID</label>
                            </div>
                            <div class="input-field col s2">
                                <button class="btn waves-effect waves-light check-id">중복확인
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10">
                                <input min-length="8" max-length="16" id="password" type="password"
                                    placeholder="8자리 이상 16자리 이하" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                            <div class="input-field col s2" style="cursor: pointer;"
                                onclick="document.getElementById('password').removeAttribute('type'); setTimeout(() => {document.getElementById('password').setAttribute('type', 'password');}, 1500);">
                                <i class="material-icons">remove_red_eye</i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10">
                                <input min-length="8" max-length="16" id="re-password" type="password"
                                    placeholder="비밀번호 확인" class="validate" required>
                                <label for="password">check password</label>
                            </div>
                            <div class="input-field col s2" style="cursor: pointer;"
                                onclick="document.getElementById('re-password').removeAttribute('type'); setTimeout(() => {document.getElementById('re-password').setAttribute('type', 'password');}, 1500);">
                                <i class="material-icons">remove_red_eye</i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="email" type="text" class="validate" required>
                                <label for="email">Email</label>
                            </div>
                            <div class="input-field col s6">
                                <select name="selectEmail" id="selectEmail">
                                    <option value="">직접입력</option>
                                    <option value="@naver.com">@naver.com</option>
                                    <option value="@gmail.com">@gmail.com</option>
                                    <option value="@kakao.com">@kakao.com</option>
                                    <option value="@hanmail.com">@hanmail.net</option>
                                    <option value="@nate.com">@nate.com</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn waves-effect waves-light post-info row" type="submit" name="action">확인
                        </button>
                    </form>
                </div>
            </div>
            <div class="row get-code none">
                <div class="row">
                    <div style="width:80%;margin:auto; text-align: center;">
                        <i class="large material-icons">email</i>
                        <div>
                            <h5>이메일 인증</h5>귀하의 이메일 <span id="putemail"></span>으로 인증코드를 전송하였습니다. <br>인증번호를 확인 후
                            입력해주시기 바랍니다. <br>인증코드는
                            <span id="remaintime">5분</span>후에 만료됩니다. <br>
                            이메일이 보이지 않으신다면, 스팸메일함을 확인해주세요.
                        </div>
                    </div>
                </div>
                <br>
                <div style="width:80%;margin:auto; text-align: center;">
                    <div style="font-size: 100px;" class='none check-icon'>&#10003;</div>
                    <div class="preloader-wrapper big active preloader-ing">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div>
                            <div class="gap-patch">
                                <div class="circle"></div>
                            </div>
                            <div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="width:80%;margin:auto">
                    <br>
                    <form action="/account/email_verify" method="POST" style="margin:auto;"
                        onsubmit="verify_check(event);">
                        <div class="row">
                            <div class="input-field col s9">
                                <input id="email-code" type="text" class="validate" required>
                                <label for="email-code">email-code</label>
                            </div>
                            <div class="input-field col s3">
                                <button class="btn waves-effect waves-light check-code" type="submit" name="action">인증코드
                                    확인</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        let info;
        let date = new Date()
        let btn = document.querySelector("#btn");
        let sidebar = document.querySelector(".sidebar");
        btn.onclick = () => {
            sidebar.classList.toggle("active");
        }
        $(document).ready(function () {
            $('select').formSelect();
        });

        let value;

        function showacademy() {
            value = document.getElementById("job").options[document.getElementById("job").selectedIndex].value;
            if (value == 'student') {
                document.querySelector('.grade').classList.remove('none')
            }
            else {
                document.querySelector('.grade').removeAttribute("required")
                document.querySelector('.grade').classList.add('none')
            }
        }

        let keytrue;
        let idtrue;

        let check_id = document.querySelector('.check-id')

        check_id.addEventListener("click", () => {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/account/overlap_id');
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = () => {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log(JSON.parse(xhr.responseText))
                    if (JSON.parse(xhr.responseText).result == 'overlap') {
                        check_id.setAttribute('disabled', 'true')
                        alert("이미 사용중인 아이디가 존재합니다. ");
                        check_id.removeAttribute('disabled')
                        idtrue = false;
                    } else if (JSON.parse(xhr.responseText).result == 'okay') {
                        alert("사용 가능한 아이디입니다.");
                        idtrue = true;
                    }
                }
            }
            xhr.send(JSON.stringify({
                check_id: document.getElementById("id").value
            }))
        })

        let interval

        let check_code = document.querySelector(".check-code");
        function send_info(e) {
            e.preventDefault();
            let pass = document.getElementById('password').value.trim();
            let pass_verify = document.getElementById('re-password').value.trim();
            if (pass != pass_verify) {
                alert("비밀번호를 다시 한 번 확인해주세요.");
                return;
            }
            if (pass.length < 8 || pass.length > 16) {
                alert("8자리 ~ 16자리 이내로 입력해주세요.");
                return;
            }
            info = {
                'name': document.getElementById('name').value.trim(),
                'age': document.getElementById('age').value.trim(),
                'job': value.trim(),
                'grade': document.getElementById("grade").options[document.getElementById("grade").selectedIndex].value.trim(),
                'uid': document.getElementById('id').value.trim(),
                'password': document.getElementById('password').value.trim(),
                'email': document.getElementById('email').value + document.getElementById("selectEmail").options[document.getElementById("selectEmail").selectedIndex].value.trim(),
            }
            if (idtrue) {
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/account/email_send');
                xhr.setRequestHeader("Content-Type", "application/json")
                xhr.onreadystatechange = () => {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        if (JSON.parse(xhr.responseText).result == 'success') {
                            document.querySelector('.mode_edit_span').innerHTML = '완료됨'
                            document.querySelector('.mode_edit').innerHTML = 'check_circle'
                            document.querySelector('.get-code').classList.remove('none');
                            document.querySelector('.get-info').classList.add('none');
                            document.getElementById('putemail').innerHTML = info.email

                            let a = 0
                            let maxtime = 300

                            interval = setInterval(() => {
                                maxtime--
                                document.getElementById('remaintime').innerHTML = parseInt(maxtime / 60) + '분' + maxtime % 60 + '초';
                                if (++a == maxtime) {
                                    let xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/account/email_expired');
                                    xhr.setRequestHeader("Content-Type", "application/json")
                                    xhr.onreadystatechange = () => {
                                        if (xhr.readyState === 4 && xhr.status === 200) {
                                            console.log(xhr.responseText)
                                        }
                                    }
                                    xhr.send(JSON.stringify({
                                        code: document.getElementById("email-code").value,
                                        email: info.email
                                    }))
                                }
                            }, 1000);
                        }
                    } else if (xhr.status === 400 && xhr.readyState === 4) {
                        alert(JSON.parse(xhr.responseText).msg)
                    }
                }
                xhr.send(JSON.stringify(info))
            } else {
                alert("아이디 중복확인을 눌렀는지 확인하시고 \n비밀번호 조건을 맞추었는지 확인해주세요.")
            }
        }
        function verify_check(e) {
            e.preventDefault();
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/account/email_verify');
            xhr.setRequestHeader("Content-Type", "application/json")
            xhr.onreadystatechange = () => {
                if (xhr.status === 200 && xhr.readyState === 4) {
                    if(interval) { clearInterval(interval); }
                    location.replace(location.href);
                } else if (xhr.status === 400 && xhr.readyState === 4) {
                    alert(JSON.parse(xhr.responseText).msg);
                }
            }
            xhr.send(JSON.stringify({
                code: document.getElementById("email-code").value,
                email: document.getElementById('email').value + document.getElementById("selectEmail").options[document.getElementById("selectEmail").selectedIndex].value
            }))
        }
    </script>
</body>

</html>