body{
    margin:0;
    height: 100vh;
    overflow:hidden;
}
.main{
    height:100vh;
    display: flex;
    position: absolute;
    width:100%;
}

.problem_part{
    height:100%;
    width:50%;
}
.note_part{
    width:50%;
    border-left-style: none;
    display: flex;
}
.num_list{
    display: flex;
    flex-direction: column;
    width:30px;
    height:100%;
    text-align: center;
    line-height: 100px;
    border-right: 1px solid rgb(241, 241, 241);
}
.num{
    height:10%;
    border:1px solid rgb(241, 241, 241);
    cursor: pointer;
}
.num_style{
    border-radius: 20px 0 0 20px;
    background-color: violet;
    color:white;

}
.pencil,.neon,.eraser,.black,.red,.yellow,.blue,.small,.medium,.large{
    height:10%;
    width:30px;
    text-align: center;
    display:flex;
    align-items: center;
    cursor: pointer;
    border:1px solid rgb(241, 241, 241);
}
.black_dot{
    background-color: black;
    border-radius: 100%;
    width:100%;
    color:white;
    height:30px;
    line-height: 30px;
    margin:auto
    
}
.red_dot{
    background-color: red;
    border-radius: 100%;
    color:white;
    height:30px;
    width:100%;
    line-height: 30px;
}
.yellow_dot{
    background-color: yellow;
    border-radius: 100%;
    color:black;
    width:100%;
    height:30px;
    line-height: 30px;
}
.blue_dot{
    background-color: blue;
    border-radius: 100%;
    color:white;
    width:100%;
    height:30px;
    line-height: 30px;
}
.small_dot{
    border-radius: 100%;
    height:5px;
    width:5px;
    background-color: black;
    margin:auto
}
.medium_dot{
    border-radius: 100%;
    height:10px;
    width:10px;
    background-color: black;
    margin:auto;
}
.large_dot{
    border-radius: 100%;
    height:15px;
    width:15px;
    background-color: black;
    margin:auto;
}
.tool_style{
    background-color: rgb(0, 225, 255);
}
.enabledrawing{
    width:100%;
    height:100%;
}